html,
body{
    width:  100%;
    height: 100%;
    padding: 10px, 5px, 5px, 10px;
}

.header{
    width: auto;
    height: 90px;
  }

.contenedor-nav{
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: white;
    box-shadow: #999;
    -webkit-box-shadow: 0px 5px 20px #999;
    -moz-box-shadow: 0px 5px 10px #999;
 }
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black !important;
}
.a:hover{
    color: chocolate !important;
    transition: all 0.2s ease;
    
}
ul{
    width: 550px;
    height: 85px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 30px;
    align-items: center;
}

.btn-contacto{
    font-family:'Montserrat', sans-serif; 
    font-size: 1em;
    text-decoration: none;
    background-color: #ffa500 !important;
    border-radius: 15px;
    width: 146px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-contacto:hover{
    color:#8e5c00 !important; 
    box-shadow: #8e5c00 0 4px 16px;
    transition: all 0,2s ease;
}

 
/*fin  de la barra de navegacion*/

/*hoja principal*/
.contenedor-presentacion{
    width: auto;
    height: 740px;
    display: flex;
    flex-direction: row;
    align-items: center;
 }
.saludo{
    width: auto;
    height: 60px;
    display: flex;
    position: absolute;
    top: 250px;
    left: 110px;
    text-align: justify;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
}

.nombre{
    width: auto;
    height: 72px;
    display: flex;
    position: relative;
    bottom: 40px;
    left: 110px;
}
h1{
    font-size: 3em;
    font-weight: 90%;
    display: flex;
    color: #ffc355;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 2px #8e5c00;
}

.presentacion{
     width: 410px;
     height: 22px;
     display: flex;
     position: absolute;
     top: 395px;
     left: 110px;
}
h3{
    font-size: 16px;
    color: #e39300;
}
.btn-loque{
    background-color: #ffa500 !important;
    border-radius: 100px;
    width: 198px;
    height: 49px;
    display: flex;
    position: absolute;
    top: 486px;
    left: 110px;
    font-weight: 500px;
    justify-content: center;
    align-items: center;
}
.btn-loque:hover{
    color:#8e5c00 !important; 
    box-shadow: #8e5c00 0 4px 16px;
    transition: all 0,2s ease;
}

.imagenprinc{
    position: relative;
    display: flex;
    left: 230px;
    top: auto;
}


/*--  fin portada*/

.contenedor-skills{
    width: auto;
    height: 984px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #ffd78e;
}
.contenedor-conocimientos{
    width: 1009px;
    height: 744px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.titulo-conocimientos{
    width: 457px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
.detalles-conocimientos{
   width: 400px;
   height: 60px;
   display: flex;
   flex-direction: row;
   font-size: 17px;
   align-items: center;
}
/*Comienzo cajas con logos*/

.contenedor-logos{
    width: 850px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}
.contenedor-logos :hover{
    border-color: chocolate;
    transition: linear;
}
.caja-logo-html
    {
     width: 263px;
     height: 231px;
     display: flex;
     background-color: beige;
     justify-content: center;
     align-items: center;
     border: 3px solid #ffaf1c;
     border-radius: 10px;
    }

.html{
    display: flex;
    bottom: 35px;
    position: relative;
    left: 40px;
}

.texto-html5{
    font-family:'Montserrat', sans-serif; 
    font-size: 20px;
    font-style: bold;
    display: flex;
    position: relative;
    top: 70px;
    right: 30px;
}
.texto-html5 :hover{
    color: chocolate;
}
.caja-logo-css{
    width: 263px;
    height: 231px;
    display: flex;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffaf1c;
    border-radius: 10px;
}
.css{
    display: flex;
    bottom: 35px;
    position: relative;
    left: 40px;
}

.texto-css{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: bold;
    display: flex;
    position: relative;
    top: 70px;
    right: 35px;
}
.texto-css :hover{
    color: chocolate;
}
.caja-logo-sass{
    width: 263px;
    height: 231px;
    display: flex;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffaf1c;
     border-radius: 10px;
  }

.sass{
    display: flex;
    bottom: 35px;
    position: relative;
    left: 28px;
}
.texto-sass{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: bold;
    display: flex;
    position: relative;
    top: 70px;
    right: 35px;
}
.texto-sass :hover{
    color: chocolate;
}
.caja-logo-java{
    width: 263px;
    height: 231px;
    display: flex;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffaf1c;
     border-radius: 10px;
}
.java{
    display: flex;
    bottom: 35px;
    position: relative;
    left: 60px;
}
.texto-java{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: bold;
    display: flex;
    position: relative;
    top: 70px;
    right: 35px;
}
.texto-java :hover{
    color: chocolate;
}
.caja-logo-react{
    width: 263px;
    height: 231px;
    display: flex;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffaf1c;
     border-radius: 10px;
}
.react{
    display: flex;
    bottom: 35px;
    position: relative;
    left: 40px;
}
.texto-react{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: bold;
    display: flex;
    position: relative;
    top: 70px;
    right: 35px;
}
.texto-react :hover{
    color: chocolate;
}
.caja-logo-git{
    width: 263px;
    height: 231px;
    display: flex;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffaf1c;
     border-radius: 10px;
}
.git{
    display: flex;
    bottom: 35px;
    position: relative;
    left: 24px;
}
.texto-git{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: bold;
    display: flex;
    position: relative;
    top: 70px;
    right: 35px;
}
.texto-git :hover{
    color: chocolate;
}
 
/*-- fin logos */

/*--comienzo cita*/
.contenedor-cita{
    width: auto;
    height: 589px;
    background-color: #ffc355;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.comilla-cita{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

.frase-cita{
    width: 800px;
    height: 104px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    align-items: center;
}

.autor-cita{
    width: auto;
    height: 32px;
    display: flex;
    position: relative;
    top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 900;
    align-items: center;
}

/*-- fin cita */

/*--proyecto*/

.contenedor-proyecto{
    width: auto;
    height: 1412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.titulo-proyecto{
    width: 339px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion-proyecto{
    width: 450px;
    height: 66px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center ;
    align-items: center;
    position: relative;
    top: 20px;
}

.card-proyecto{
    width: 1100px;
    height: 1100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 61px;
    
}
.card-proyecto :hover{
    border-color: chocolate;
    transition: 0.2s;
}
.card-portfolio{
    width: 342px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-portfolio :hover{
    border-color: chocolate;
    transition: 0.2s;
}

.texto-portfolio{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.texto-portfolio :hover{
    color: #ffaf1c
}

.card-daruma{
    width: 342px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-daruma :hover{
    border-color: chocolate;
    transition: 0.2s;
}
.texto-daruma{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.texto-daruma :hover{
    color: #ffaf1c
}
.card-rugido{
    width: 342px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-rugido :hover{
    border-color: chocolate;
    transition: 0.2s;
}

.texto-rugido{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.texto-rugido :hover{
    color: #ffaf1c
}
.card-documentos{
    width: 342px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-documentos :hover{
    border-color: chocolate;
    transition: 0.2s;
}
.texto-misdocumentos{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
    
}
.texto-misdocumentos :hover{
    color: #ffaf1c
}
.card-opiniones-personales{
    width: 342px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-opiniones-personales :hover{
    border-color: chocolate;
    transition: 0.2s;
}

.texto-opiniones{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.texto-opiniones :hover{
    color: #ffaf1c
}

.card-aprendiendo{
    width: 342px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-aprendiendo :hover{
    border-color: chocolate;
    transition: 0.2s;
}
.texto-aprendiendo{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.texto-aprendiendo :hover{
    color: #ffaf1c
}
.card-biblioteca{
    width: 342px;
    height: 279px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffaf1c;
}
.card-biblioteca :hover{
    border-color: chocolate;
    transition: 0.2s;
}
.texto-biblioteca{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.texto-biblioteca :hover{
    color: #ffaf1c
}
/*-- fin proyecto */

.contenedor-formulario{
    width: auto;
    height: 1019px;
    background-color: #ffe1aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorcontacto-escribo{
    width: 960px;
    height: 689px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

.contenedor-contactame{
    width: 442px;
    height: 527px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.titulo-contactame{
    width: 423px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding-left: 10px;
    position: relative;
    bottom: 30px;
}
.detalle-contactame{
    width: 410px;
    height: 110px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    position: relative;
    bottom: 30px;
}
/*iconos redes*/


.redes-contactame{
    width: 433px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.redes{
    width: 433px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.red-twitter{
    width: 200px;
    height: 35px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.red-twitter:hover{
    color: chocolate;
    transition: all 0.2s ease;
}

.red-github{
    width: 183px;
    height: 35px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.red-github:hover{
    color: chocolate;
}

.red-linkedin{
    width: 240px;
    height: 35px;
    display: flex;
    font-family:'Montserrat', sans-serif;  
    font-size: 16px;
    
}
.red-linkedin:hover{
    color: chocolate;
}
.red-email{
    width: 290px;
    height: 35px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}
.red-email:hover{
    color: chocolate;
}


/*fin redes formulario*/

.contenedor-escribime{
    display: flex;
    width: 442px;
    height: 527px;
    flex-direction: column;
}

.titulo-escribime{
    width: 423px;
    height: 80px;
    display: flex;
    align-items: flex-start;
}
.contenedor-form{
     width: 423px;
     height: 450px;
     display: flex;
}
.datos-formulario{
    width: 423px;
    display: flex;
    flex-direction: row;
    position:relative;
    top: 50px;
}
.nombre-formulario{
  font-family:"Montserrat", sans-serif;
  flex-grow: 1;
    width: 191px;
    height: 50px;
}
.apellido-formulario{
    font-family: "Montserrat", sans-serif;
    flex-grow: 1;
}

.correo-formulario{
    font-family:"Montserrat", sans-serif; 
    flex-grow: 1;
    position: relative;  
    top: 70px;
}
.mensaje-formulario{
    font-family: "Montserrat", sans-serif;
    display: flex;
    position: relative;
    top: 90px;
    flex-grow: 1;
    flex-direction: column;
}

.enviar-form{
    font-family: "Montserrat", sans-serif;
    display: flex;
    position: relative;
    top: 110px;
    justify-content: center;
}
.boton-enviar{
        font-family: "Montserrat", sans-serif;
        font: size 26px;
        padding-left: 40px;
        color: black;
        background: #ffa500;
        display: flex;
        justify-content: center;
        width:80px;
        height:35px;
        transition: all 0.2s ease;
        border-radius: 20%;
       }

.boton-enviar:hover{
    box-shadow: #8e5c00 0 4px 16px;
    transition: all 0,2s ease;
}


/*fin formulario*/
/* footer */
 footer{
    width: auto;
    height: 303px;
    display: flex;
    justify-content: center;
    background-color: white;
}
 .contenedor-footer{
   width: 1090px;
   height: 303px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
} 

.nav-footer{
    width: 414px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.icono-footer{
    width: 252px;
    height: 63px;
    display: flex;
}
icono-redes/twitt.png:hover{
    color: chocolate !important;
}
icono-redes/github.png:hover{
    color: chocolate !important;
}
icono-redes/linkedin.png:hover{
    color: chocolate !important;
}
icono-redes/email.png:hover{
    color: chocolate !important;
}

.autor-footer{
    width: 220px;
    height: 27px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
@media (max-width: 600px){
    .contenedor-nav{
        width: 100%;
        flex-direction:column;
        }
    }
@media (max-width: 600px){
    .contenedor-presentacion{
         flex-direction: column;
          width: 100%;
       }
    }
@media (max-width: 600px){
    .contenedor-cita{
        background-color: #ffd78e;
         width: auto;
            }
    }
 @media (max-width: 600px){
     .contenedor-formulario{
         width: auto;
        background-color: #ffd78e;
        flex-direction: column;
          }
    } 

/*Termineeeeeee*/







